@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import 'bootstrap-material-design';

@media only screen and (min-width: 600px) {
  .well { padding: 10% !important; }
}

.floating-icons {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
}

.markup-markdown {
  h1, h2, h3, h4, h5, h6 { margin-top: 25px; }
}

.well {
  margin-bottom: 100px !important;
}

label.required:after {
  content:" *";
}
