$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;
$btn-primary-bg: #53a93f;

@import 'bootstrap-sprockets';
@import 'bootstrap';
// @import 'bootstrap-material-design';
@import 'bootstrap-markdown';

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
    color: #767676;
    text-align: center;
    // border-top: 1px solid #e5e5e5;
}

@media (min-width: $screen-sm-min) {
  .panel-body {
    padding: 30px 60px;
  }
}

@media (max-width: $screen-sm-min) {
  .container .jumbotron, .container-fluid .jumbotron {
    padding-left: 10px;
    padding-right: 10px;
  }
}
